<list
  name="{{ name }}"
  [names]="names"
  (changedList)="changeListParent($event)"
></list>
<br /><br />

<h1>Another component with the same list :)</h1>
<ul>
  <li *ngFor="let v of names">{{ v }}</li>
</ul>
<button type="button" (click)="changeList()" class="btn btn-warning">
  Change list</button
>&nbsp;
<i>Then mouseover the first list</i>

<br /><br />

<button type="button" (click)="changeImmutableList()" class="btn btn-warning">
  Change list Immutably</button
>&nbsp;<i>No need for mouseover, changes are now detected</i>
